:root{
    --MENU-SEARCH-BG-color: #252c31; /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: #000000; /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: #ffffff; /* Override search field icons color */
}

#body {
    margin-left: 400px;
}

#sidebar {
    width: 400px;
}

.youtubeembed {
    padding 15px;
}

.video-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

