:root{
    --MAIN-LINK-color:#a31c1c; /* Color of links */

    --MENU-SEARCH-BG-color: #252c31; /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: #000000; /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: #ffffff; /* Override search field icons color */

    --MENU-HEADER-BG-color: #a00000; /* Background color of menu header */
    --MENU-HEADER-BORDER-color: #cc1010; /*Color of menu header border */ 

    --MENU-SECTION-ACTIVE-CATEGORY-color: #fff; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #777; /* Color of background for the active category (only) */

}

body {
    font-weight: normal;
}

#body {
    margin-left: 400px;
}

#sidebar {
    width: 400px;
}

.small-video {
    width: 640px;
    margin: auto;
}

.video-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.author {
    font-weight: 200;
    text-align: center;
    margin-top: -1.2rem;
    display: block;
    font-size: 2rem;
    text-rendering: optimizelegibility;
}

