{{with .Params.youtube}}
  <div id="youtubeembed" class="large-video">
    <section class="attachments green">
	<label>
		<i class="fa fa-paperclip" aria-hidden="true"></i>
		Video
	</label>
	<div class="attachments-video">
  	  <div class="video-responsive">
	    <iframe id="widget2" src="https://www.youtube.com/embed/{{.}}?&amp;showinfo=0&amp;modestbranding=1&amp;autohide=1&amp;enablejsapi=1&amp;origin=https:%2F%2Fpapers.freebsd.org" allowfullscreen="" frameborder="0" height="360" width="640"></iframe>
	  </div>
	</div>
    </section>
  </div>
{{end}}
{{with .Params.video}}
  <div id="videoembed" class="large-video">
    <section class="attachments green">
	<label>
		<i class="fa fa-paperclip" aria-hidden="true"></i>
		Video
	</label>
	<div class="attachments-video">
	  <div class="video-responsive">
	    <iframe id="videowidget" src="{{.}}" allowfullscreen="" frameborder="0" height="360" width="640"></iframe>
	  </div>
	</div>
    </section>
  </div>
{{end}}
{{with .Params.videolink}}
  <div id="videolink">
    <section class="attachments green">
	<label>
		<i class="fa fa-paperclip" aria-hidden="true"></i>
		Video
	</label>
	<div class="attachments-files">
		<li>
			<a href="{{.}}" >Watch Video</a>
		</li>
	<div>
    </section>
  </div>
{{end}}
